.addButton {
  margin-top: 16px;
  padding: 8px;
  background-color: #0271ca;
}

.addRow {
  display: flex;
  margin-top: 16px;
}

.addTodoInput {
  flex: 1;
  padding: 8px 16px;
}

.saveButton {
  margin-left: 16px;
  background-color: #0f4d0f;
  color: #ddd;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.cancelButton {
  margin-left: 16px;
  background-color: #952626;
  color: #ddd;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
